<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
    <link rel="stylesheet" href="../public/style_book.css" type="text/css">
    <link rel="stylesheet" href=
    "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css">

</head>
<body>
<dialog id = "changeDialog" class="myDialog">
    <form>
        <label for="changeName">Название:</label><br>
        <input type="text" id="changeName" name="changeName" class="inputText"><br>

        <label for="changeAuthor">Автор:</label><br>
        <input type="text" id="changeAuthor" name="changeAuthor" class="inputText"><br>

        <label for="changeDate">Дата создания:</label><br>
        <input type="text" id="changeDate" name="changeDate" class="inputText"><br>

        <label for="changeDesc">Описание:</label><br>
        <input type="text" id="changeDesc" name="changeDesc" class="inputText">
    </form>
    <button id ="closeChangeDialogButton" onclick="onCloseChangeDialogButtonClick(<%=element.id%>)"> Изменить </button>
</dialog>


<dialog id = "addReaderDialog" class="myDialog">
    <form>
        <label>Читатель:</label><br>
        <input type="text" id="fffname" name="fname" class="inputText">
    </form>
    <button id ="closeAddReaderDialogButton" onclick="onTakeBookClicked(<%=element.id%>)"> Забрать </button>
</dialog>

<div class="backIcon" onclick="backClick()">
    <i class="fa-solid fa-arrow-left"></i>
</div>
<button id = "change_button" onclick="onChangeDialogButtonClick()">Изменить данные</button>
<br>
<br>
<div id="bookData">
    Название книги:<br>
    <%=element.name%> <br>
    Автор книги:<br>
    <%=element.author%><br>
    Дата создания:<br>
    <%=element.dateCreate%><br>
    Описание:<br>
    <%=element.description%><br>

    <% if(element.isInLib.messageIsInLib === "notInLib"){%>
        <br>
        Кто взял:<br>
        <%= element.isInLib.nameReader%><br>
        Когда вернет:<br>
        <%= element.isInLib.whenBack%><br>
    <%}%>

</div>

<% if(element.isInLib.messageIsInLib === "inLib"){%>
    <br>
    <button id = "takeBook" onclick="f()">Взять книгу</button>

<%}else { %>
    <br>
    <button id = "putBook" onclick="onPutBookClicked(<%=element.id%>)">Вернуть книгу</button>
<%}%>
<script src = "/public/card_ajax.js"></script>
</body>
</html>