<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Card</title>
</head>
<body>
<dialog id = "changeDialog">
    <form>
        <label for="fname">First name:</label><br>
        <input type="text" id="ffname" name="fname"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="llname" name="lname">
    </form>
    <button id ="closeChangeDialogButton" onclick="onCloseChangeDialogButtonClick(<%=element.id%>)"> Close!</button>
</dialog>


<dialog id = "addReaderDialog">
    <form>
        <label>Name:</label><br>
        <input type="text" id="fffname" name="fname">
    </form>
    <button id ="closeAddReaderDialogButton" onclick="onTakeBookClicked(<%=element.id%>)"> Close!</button>
</dialog>


<button id = "change_button" onclick="onChangeDialogButtonClick()">изменить</button>
<br>
<%=element.name%>
<% if(element.isInLib.messageIsInLib === "inLib"){%>
    <br>
    <button id = "takeBook" onclick="f()">Взять</button>

<%}else { %>
    <br>
    <%= element.isInLib.nameReader%><br>
    <%= element.isInLib.whenBack%><br>
    <button id = "putBook" onclick="onPutBookClicked(<%=element.id%>)">Вернуть</button>
<%}%>

<script src = "/public/card_ajax.js"></script>
</body>
</html>