<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/style.css" type="text/css">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>

</head>
<body>

<dialog id = "addDialog" class = "myDialog">
    <form>
        <label for="addName">Название:</label><br>
        <input type="text" id="addName" name="addName" class = "inputText"><br>

        <label for="addAuthor">Автор:</label><br>
        <input type="text" id="addAuthor" name="addAuthor"class = "inputText"><br>

        <label for="addDate">Дата:</label><br>
        <input type="text" id="addDate" name="addDate" class = "inputText"><br>

        <label for="addDescription">Описание:</label><br>
        <input type="text" id="addDescription" name="addDescription"class = "inputText">
    </form>
    <button id ="closeBut" onclick="onCloseButtonClick()"> Добавить</button>
</dialog>

<div id="formTopModule">
    <form id ="radioButForm">
            <div id = "choiceForm">
                <div>
                    <input type="radio" id="contactChoice1" name="contact" value="inLib" />
                    <label for="contactChoice1">В наличии</label>
                </div>

                <div>
                    <input type="radio" id="contactChoice2" name="contact" value="overdue" />
                    <label for="contactChoice2">Просроченные</label>
                </div>
                <div>
                    <input type="radio" id="contactChoice3" name="contact" value="none" checked/>
                    <label for="contactChoice3">None</label>
                </div>
            </div>

    </form>
    <button id ="addBut" onclick="onAddButtonClick()"> Добавить книгу</button>
</div>

<div id = "listData">

    <%listData.forEach((elem)=>{

    %>

    <div id = "card" class = "card <%=elem.isInLib.messageIsInLib%> <%=elem.isInLib.messageIsOverdue%>">
        <div id=<%=elem.id%> onclick="load(this)" >
            <%=elem.name%><br>
            <%=elem.author%>
        </div>
        <button id="delBookButton" onclick="onClickDelBookButton(<%=elem.id%>)">Удалить книгу</button>
    </div>
    <%});%>
</div>



<script src = "../public/ajax.js"></script>
<script>

    var listOfData =`<%-stringListData%>`
    console.log(JSON.parse(listOfData))

    var radioBut = document.querySelectorAll("input[type=radio]");
    let enabledSettings = []


    radioBut.forEach(function(radio) {
        radio.addEventListener('change', function() {
            enabledSettings =
                Array.from(radioBut) // Convert checkboxes to an array to use filter and map.
                    .filter(i => i.checked) // Use Array.filter to remove unchecked checkboxes.
                    .map(i => i.value)[0] // Use Array.map to extract only the checkbox values from the array of objects.

            console.log(enabledSettings)
            $( ".card" ).css( "transform", "scale(1)" )

            $( ".card" ).css( "transform", "scale(0)" ).filter("."+enabledSettings).css( "transform", "scale(1)" );

            if(enabledSettings ==="none"){
                $(  ".card"  ).css( "transform", "scale(1)" )
            }

        })
    });


</script>

</body>
</html>